/***** Section *****/  /***** End Section *****/
/* Obecný reset a základní styl */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #35463E;
}

h1, h2 {
    color: #35463E;
}

a {
    text-decoration: none;
    color: #35463E;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FFE698; /* Zlatá barva */
    color: #35463E;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #dbbc6e;
}

section {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 800px;
}

/* Navigace */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 0px 10px; /* Odstup od vrchu */
}

.logo {
    width: 300px;
    height: 250px;
    margin: 0;
    padding: 0; /* Odsazení od horního okraje */
    display: block; 
}

nav {
    background-color: #FFE698;
    border-radius: 30px 0px 0px 30px; /* Kulaté rohy */
    display: inline-block; /* Umožní zarovnat menu */
    padding: 10px 20px; /* Vnitřní odsazení */
    margin-left: auto; /* Posune doprava */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Horizontální uspořádání */
}

nav ul li {
    margin: 0 15px; /* Mezera mezi položkami */
}

nav a {
    text-decoration: none;
    color: #35463E; /* Zelený text */
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; /* Efekt při najetí */
}

/* Úvodní sekce */
#uvod {
    text-align: center;
    background-color: #f9f9f9;
    padding: 100px 20px;
}

#uvod img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

/* Sekce styl */
#masaze, #pedikura, #cenik, #studio, #kontakty {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

/* Tabulka v ceníku */
#cenik table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#cenik table th, #cenik table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#cenik table th {
    background-color: #f4f4f4;
    color: #35463E;
    font-weight: bold;
}

/* Kontakty */
#kontakty a {
    display: inline-block;
    margin: 10px 0;
    color: #2b2b2b;
}

#kontakty img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 50px;
}

/* Pevné tlačítko pro návrat nahoru */
#scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #FFE698;
    color: #fff;
    border: none;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    display: none; /* Defaultně skryté */
    z-index: 1000;
}

#scrollTopButton:hover {
    background-color: #dbbc6e;
}

/* Animace tlačítka při scrollování */
body.scrolled #scrollTopButton {
    display: block;
}
