/***** Section *****/  /***** End Section *****/
/* Obecný reset a základní styl */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #35463E;
}
h2 {
    font-size: 40px;
    color: #35463E;
}

a {
    text-decoration: none;
    color: #35463E;
}

p {
    font-size: 25px;
    line-height: 1.6;
    text-align: left;
    color: #35463E;
    
}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FFE698; /* Zlatá barva */
    color: #35463E;
    border: none;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #dbbc6e;
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Navigace */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 0px;
    box-sizing: border-box; /* Odstup od vrchu */
}

.logo {
    width: 125px;
    height: auto;
    margin: 0;
    padding: 0; 
    display: block; 
}

nav {
    background-color: #FFE698;
    border-radius: 50px 0px 0px 50px; /* Kulaté rohy */
    display: inline-block; /* Umožní zarovnat menu */
    padding: 10px 30px; /* Vnitřní odsazení */
    margin-left: auto; /* Posune doprava */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Horizontální uspořádání */
}

nav ul li {
    margin: 0 20px; /* Mezera mezi položkami */
}

nav a {
    text-decoration: none;
    color: #35463E; /* Zelený text */
    font-size: 25px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; /* Efekt při najetí */
}

/* Úvodní sekce */
#uvod {
    padding: 20px;
    margin-top: 80px;
  }
  
  .container {
    display: flex;

  }
  
  /* Textová část */
  .text-box {
    max-width: 50%;
    margin-left: 30px;
    
  }
  
  .text-box h1 {
    font-size: 50px;
    color: #333;
  }
  
  .text-box p {
    font-size: 25px;
    color: #555;
  }
  
  .text-box button {
    padding: 10px 20px;
    background-color: #ffe599;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .text-box button:hover {
    background-color: #ffd966;
  }
  
  /* Obrázková část */
  .image-box img {
    max-width: 75%;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 133px;
  }
  
  /* Responsivita */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-box, .image-box {
      max-width: 100%;
    }
  
    .image-box img {
      width: 100%;
    }
  }

/* Style sekce */
#masaze, #pedikura, #cenik, #studio, #kontakty {
    margin-top: 20px;
    border-radius: 10px;
}

/* Masáže */
#masaze img {
    width: 50%;
    height: auto;
    border-radius: 50px;

}

/* Pedikúra */
#pedikura img {
    max-width: 50%;
    height: auto;
    border-radius: 50px;
}

/* Tabulka v ceníku */

#cenik h2 {
    text-align: center;
}

#cenik img {
    max-width: 90%;
    height: auto;
    border-radius: 50px;
}

/* Studio */
#studio img {
    max-width: 50%;
    height: auto;
    border-radius: 50px;
}


/* Kontakty */
#kontakty a {
    display: inline-block;
    margin: 10px 0;
    color: #2b2b2b;
}

#kontakty img {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    border-radius: 50px;
}

/* Pevné tlačítko pro návrat nahoru */
#scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #35463E;
    color: #FFE698;
    border: none;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 35px;
    font-weight: bold;
    display: none; /* Defaultně skryté */
    z-index: 1000;
}

#scrollTopButton:hover {
    background-color: #363022;
}

/* Animace tlačítka při scrollování */
body.scrolled #scrollTopButton {
    display: block;
}

/* Patička */
#footer {
    background-color: #FFE698;
    padding: 20px;
}

#footerText {
    text-align: center;
    font-size: 15px;
    color: #35463E;
}